<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correio</title>
    <link rel="stylesheet" href="./static/index.css">
</head>
<body>
    <div class="Calculadora">
        <h1>Calculadora</h1>
        <form method="POST" action="/calculadora"> 
    </div>
    <div class="carta">
        <form method="POST">
            <p class="nome">Nome: <input type="text" name="nome" class="box1"></p>
            <p class="dre">Dre: <input type="text" name="dre" class="box2"></p>
            <p class="nota_t1">Nota do Trabalho 1: <input type="number" name="nota_t1" class="box3"></p> 
            <p class="nota_t2">Nota do Trabalho 2: <input type="number" name="nota_t2" class="box3"></p> 
            <p class="numero_de_tarefas ">Número de tarefas realizadas no período: <input type="number" name="numero_de_tarefas" class="box3"></p> 
            <p class="notas_tarefas">Somatório das notas das tarefas: <input type="number" name="notas_tarefas" class="box3"></p> 
            <input type="submit" value="Calcular" class="btn-send" />


        </form>
    </div>

    

</body>
</html>
